body,html {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    cursor: none;
}

body {
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    box-shadow: 0 0 15px $orange;
    width: 100%;
    position: fixed;
    top: 0;
    background: black;
    z-index: 10;
    font-family: "Cabin";
}

nav a{
    color: white;
    text-decoration: none;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    position: relative;
    transition: all .2s ease-in-out;
    cursor: inherit;

    &:hover {
        text-decoration: none;
        color: $orange;
        font-weight: bold;

        &::after {
            opacity: 1;
            width: 100%;
        }
    }

    &::after {
        content: "";
        height: 5px;
        background: $orange;
        width: 0;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        position: absolute;
        bottom: 0;
        opacity: 0;
        transition: all .2s ease-in-out;
    }

    i {
        animation: changeColor 3s ease-in-out alternate infinite;
        margin-left: 5px;
    }

    @keyframes changeColor {
        to {color: #5ed3f3}
    }

}

.nav-active {

    color: $orange;
    font-weight: bold;

    &::after {
        content: "";
        height: 5px;
        background: white;
        width: 100%;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        position: absolute;
        bottom: 0;
        opacity: 1;
        transition: all .2s ease-in-out;
        border: 1px solid $orange;
        border-bottom: 0;
    }
}

#language {

    position: fixed;
    top: 70px;
    right: 0;
    z-index: 20;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 42px;
    transition: all .3s;
    transform: translateX(80px);
    // width: 60px;
    // overflow: hidden;

    .fa-language {
        font-size: 30px;
        padding: 5px;
        color: white;
        border: 1px solid white;
        border-right: none;
        border-left: none;
        // border-bottom-left-radius: 20px;
        // border-top-left-radius: 20px;
        background: black;
    }

    .fa-caret-left {
        font-size: 25px;
        color: white;
        border-right: none;
        border: 1px solid white;
        border-right: none;
        height: 100%;
        padding-left: 2px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-bottom-left-radius: 10px;
        border-top-left-radius: 10px;
        background: black;
    }

    p {
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        border: 1px solid white;
        height: 100%;
        margin: 0;
        width: 40px;
        transition: all .2s ease-in-out;

        &:hover {
            background: white;
            color: black;
        }

        &:active {
            background: $orange;
        }

        &:last-of-type {
            border-right: none;
        }
    }

    .active {
        background: $orange;
        color: white;

        &:hover {
            background: rgb(228, 148, 0);
            color: white;

        }
    }

}
   
section {
    margin-top: 50px;
}

#home {
    margin-top: 0;
    height: 100vh;
    display:flex;
    align-items: center;
    justify-content: center;
    transform-style: preserve-3d;
    perspective: 1000px;
    // cursor: none;

    .background{
        background: url("../images/background.jpg"), linear-gradient(to bottom, rgba(255, 166, 0, 0.596), black);
        background-size: cover;
        background-repeat: no-repeat;
        background-blend-mode: soft-light;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        transform: translateZ(0px);
        pointer-events: none;
    }
   
    
    #self-card {
        z-index: 500;
        transform-style: preserve-3d;
        height: 300px;
        width: 250px;
        display:flex;
        align-items: flex-start;
        justify-content: flex-end;
        flex-direction: column;
        border-radius: 10px;
        box-shadow: 0 0 10px gray;
        position: relative;
        background: linear-gradient(45deg, transparent, $orange);
        transition: all .7s ease-in-out; 
        transform: translateZ(300px);
        
        img {
            border-radius: 10px;
            position: absolute;
            width: 100%;
            height: 100%;
        }
        
        p {
            left:0;
            background: rgba(0,0,0,0.5);
            backdrop-filter: blur(5px);
            border-radius: 10px;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            border-left: none;
            padding: 5px;
            color: white;
            margin:0;
            box-shadow: 0 0 4px white;
            font-size: 14px;
            transition: all .7s ease-in-out;

            span {
                font-style: italic;
            }

            &:nth-last-of-type(2) {
                border-bottom-left-radius: 10px;
            }

            &:nth-of-type(3) {
                top: 0;
                position: absolute;
                right: 0;
                left: inherit;
                border-radius: 10px;
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
                border: 1px solid white;
                border-right: 0;
                
                @keyframes bouncing {
                    from {transform: translateZ(50px);}
                    to {transform: translateZ(35px);}
                }
            }

      
        }

        .skills {
            position: absolute; 
            width: 100%;
            height: 100%;
            z-index: -1;
            left: 0;
            opacity: 0;
            background: url("../images/background-description.gif") rgba(0,0,0,.7);
            background-blend-mode: color;
            // backdrop-filter: blur(5px);
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            transition: all .2s ease-in-out;
            border-bottom-right-radius: 10px;
            border-top-right-radius: 10px;
            transition: all .7s ease-out;
            box-shadow: 0 0 10px gray;
            color: white;
            transform-style: preserve-3d;
            perspective: 1000px;

            h2 {
                transform: translateZ(10px);
                z-index: 10;
                transition: all .7s ease;

                i{
                    color: white;
                    filter: drop-shadow(1px 1px 1px $orange);
                }
            }

            div {
                transform-style: preserve-3d;
                perspective: 1000px;
                display: flex;
                align-items: center;
                justify-content: space-around;
                width: 90%;
            }

            .skill {
                transition: all .7 ease-in-out;
                transform: translateZ(10px);
                margin: 5px;
                border-radius: 50px;
                width: 90px;
                display: flex;
                align-items: center;
                justify-content: center;
                box-shadow: 0 0 2px white;;

                i{
                    margin-left: 5px;
                }
            }
            
            i {
                color: $orange;
            }
        }

        .skills-description {
            animation: hoverDescription .7s ease-out forwards;
            transform: translateX(100%);
            opacity: 1;
        }   

        
        &:hover {
            background-size: 100%;
        }



    }

    .self-card-hover {

       background: "linear-gradient(45deg, transparent, $orange)";
       transform: "translateX(-100%) translateZ(300px)";
       border-top-right-radius: "0";
       border-bottom-right-radius: "0";

        &>p{
            border: 1px inset $orange!important;
            box-shadow: 0 0 5px black;
            // border-radius: 20px!important;
        }

    }


}

#about {

    background: linear-gradient(to bottom, black, transparent);
    margin-top: 0;
    height: 450px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;

    div,.certificates {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: 100%;
        background: rgba(0,0,0,.3);
        margin: 50px auto 0 auto;
        padding: 20px;
        border-radius: 10px;
        width: 45%;
        padding:  30px;
        overflow: auto;
        justify-content: center;
    }
    
    div {   
        box-shadow: 0 0 15px white;
        position: relative;
        overflow: auto;
        justify-content: center;
    }

    
    .see-certificates {
        color: white;
        font-weight: bold;
        transition: all .25s;
        border-radius: 10px;
        box-shadow: 0 0 3px white;
        padding: 10px;
        
        i {
            transition: all .25s;
            position: relative;
            animation: shake .5s ease-in-out infinite alternate;
            color: white;
        }

        &:hover {
            transform: scale(1.1);
            i {
                color: $orange;
            }
        }

       
    }

    @keyframes shake {
        from{transform: rotateZ(20deg)}
        to{transform: rotateZ(-20deg)}
    }

    .certificates {
        background: rgba(0,0,0,.5);
        position: absolute;
        opacity: 0;
        padding: 0;
        height: 350px;
        pointer-events: none;
        transition: all .25s ease-in-out;
        box-shadow: none;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        box-shadow: 0 0 15px white;
        
        .custom-card {

            display: flex;
            align-items: center;
            justify-content: center;
            width: 30%;
            height: 50%;
            margin: 0 5px;
            padding: 0;
            box-shadow: none;
            position: relative;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
            box-shadow: 0 0 3px white;
            background-color: white;
            border-radius: 10px;
            border-bottom-right-radius: 0;
            border-top-left-radius: 0;
            transition: all .5s ;
            color: inherit;
            cursor: inherit; 
            
            &:nth-of-type(1) {
                background-image: url("../images/javaScript.png");
            }
            &:nth-of-type(2) {
                background-image: url("../images/react.png");
            }
            &:nth-of-type(3) {
                background-image: url("../images/css.png");
            }

            .certificate-icon {
                position: absolute;
                right: 5px;
                top: 5px;
                font-size: 40px;
                filter: drop-shadow(0 0 5px black);
            }

            &:hover {
                transform: translateY(-6px) translateX(6px);
                box-shadow: 0 0 3px white, -6px 6px 3px rgb(94, 94, 94);
            }

        }

        .download {
            text-align: center;
            position: absolute;
            width: 100%;
            background-color:white;
            margin: 0;
            bottom: 0;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
            color: black;
        }
        
        .go-back {
            position: absolute;
            left: 10px;
            top: 10px;
            font-size: 15px;
            transition: all .25s;

            &:hover {
                color: $orange;
            }
        }


    }


    p {
        text-align: center;
    }

    span {
        color: $orange;
        font-weight: bold;
    }
}

#proyects {

    background: linear-gradient(to bottom, transparent, black);
    padding: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-y: hidden;
    flex-wrap: wrap;
    transform-style: preserve-3d;
    perspective: 1000px;
    
    .custom-card {
    
        height: 300px;
        width: 25%;
        margin: 10px;
        border-radius: 20px;
        overflow: hidden;
        transition: all .5s ease;
        margin-top: 100px;
        box-shadow: 0 0 5px gray;
        text-decoration: none;
        color: white;
        cursor: none;

        &:nth-of-type(1) {
            transform: rotateY(-25deg);
        }
        &:nth-of-type(2) {
            transform: translateZ(100px);
        }
        &:nth-of-type(3) {
            transform: rotateY(25deg);
        }

        &:nth-of-type(4) {
            transform: rotateY(-25deg);
        }
        &:nth-of-type(5) {
            transform: translateZ(100px);
        }
        &:nth-of-type(6) {
            transform: rotateY(25deg);
        }

        
        .image-container {
            height: 80%;
            width: 100%;
            
            img {
                height: 100%;
                width: 100%;
            }
        }
        
        .body-container {

            position: relative;
            height: 20%;
            background: #181818;
            padding: 10px;
            display: flex;
            align-items: center;
            justify-content: center;

            &::after {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 0;
                border-bottom: 50px solid #181818;
                border-left: 500px solid transparent;
                transform: translateY(-100%);
            }
        }

        &:hover {
            box-shadow: 0 0 5px $orange;
            transform: rotateY(0) translateZ(100px);
        }
    
    
    }

    .title {
        font-size: 60px;
        text-align: center;
        width: 100%;
    }
    
    h2 {
        text-align: center;
        width: 100%;
    }
    


}

// Cursor
#cursor {
    width: 20px;
    height: 20px;
    position: absolute;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(2px);
    border-radius: 50%;
    border: 2px solid $orange;
    pointer-events: none;
    z-index: 20;
    transform: translateX(-50%) translateY(-50%);
    box-shadow: 0 0 5px black;
    
    .point {
        content: "";
        position: absolute;
        left: calc(10px - 4px);
        top: calc(10px - 4px);
        width: 4px;
        height: 4px;
        border-radius: 50px;
        background: $orange;
    }
}

// Click animation
.click {

    .point {
        border: 2px solid $orange;
        animation: clickAnimation .2s ease-in-out;
    }
    
}

@keyframes clickAnimation {
    0%{
        transform: scale(1);
    } 100% {
        transform: scale(15);
        opacity: 0;
    }

}


