@media (max-width: 768px) {

    #home {

        flex-wrap: wrap;
        padding: 100px 0;
        height: 1100px;
        align-items: flex-start;

        #self-card {

            margin-top: 130px;
            perspective: 1000px;

            p {
                &:last-of-type {
                    border-radius: 10px;
                    border-bottom-right-radius: 0;
                    border-top-left-radius: 0;
                }

                &:nth-of-type(2) {
                    border-radius: 10px;
                    border-bottom-right-radius: 0;
                    border-top-left-radius: 0;
                }
            }
            
            .skills {
                
                margin-top: 50px;
                top: 100%;
                position: absolute; 
                border-radius: 10px;
                width: 100%;
                z-index: 20;
                opacity: 1;
                height: fit-content;
                padding: 20px;

                h2 {
                    font-size: 21px !important;
                }
        
        
            }
        }


    }

    #about {

        height: 400px;
        
        div {
            overflow: auto;
            width: 90%;
            justify-content: flex-start;
            text-align: center;
        }

        
        .certificates {
            overflow: auto;
            width: 90%;
            justify-content: flex-start;
            text-align: center;
            flex-wrap: wrap;
            
            .custom-card {
                width: 40%!important;
                margin: auto;
                margin-bottom: 20px;

                &:first-of-type {
                    margin-top: 50px;
                }

            }

            .download {
                position: sticky;
            }
        }

    }

    #proyects {

        padding: 10px;

        h2 {
            font-size: 40px!important;
        }

        .custom-card {
            width: 40%;
            transform: rotateY(0)!important;
        }

    }



}

@media (max-width: 450px) {

    #proyects {

        h2 {
            font-size: 30px!important;
        }

        padding: 10px;

        .custom-card {
            width: 90%;
            margin-top: 10px;
        }

    }

    #about {

        .certificates {

        
            .custom-card {
                width: 80%!important;
                margin: auto;
                margin-bottom: 20px;
    
                &:first-of-type {
                    margin-top: 50px;
                }
    
            }
    
            .download {
                position: sticky;
            }
        }

    }

  

}

@media (max-width: 400px) {

    #home {

        width: 100%;

        #self-card {
            width: 60%;
            height: 250px;

            .skill {
                min-width: 84px;
            }
        }

    }

}

@media (max-width: 375px) {

    nav {
        a {
            padding: 20px 10px;
        }
    }

}


