body, html {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  height: 100%;
  cursor: none;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-shadow: 0 0 15px orange;
          box-shadow: 0 0 15px orange;
  width: 100%;
  position: fixed;
  top: 0;
  background: black;
  z-index: 10;
  font-family: "Cabin";
}

nav a {
  color: white;
  text-decoration: none;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

nav a:hover {
  text-decoration: none;
  color: orange;
  font-weight: bold;
}

nav a:hover::after {
  opacity: 1;
  width: 100%;
}

nav a::after {
  content: "";
  height: 5px;
  background: orange;
  width: 0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  position: absolute;
  bottom: 0;
  opacity: 0;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

nav a i {
  -webkit-animation: changeColor 3s ease-in-out alternate infinite;
          animation: changeColor 3s ease-in-out alternate infinite;
}

@-webkit-keyframes changeColor {
  to {
    color: #5ed3f3;
  }
}

@keyframes changeColor {
  to {
    color: #5ed3f3;
  }
}

#language {
  position: fixed;
  top: 70px;
  right: 0;
  z-index: 20;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 42px;
  -webkit-transition: all .3s;
  transition: all .3s;
  -webkit-transform: translateX(80px);
          transform: translateX(80px);
}

#language .fa-language {
  font-size: 30px;
  padding: 5px;
  color: white;
  border: 1px solid white;
  border-right: none;
  border-left: none;
  background: black;
}

#language .fa-caret-left {
  font-size: 25px;
  color: white;
  border-right: none;
  border: 1px solid white;
  border-right: none;
  height: 100%;
  padding-left: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}

#language p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  border: 1px solid white;
  height: 100%;
  margin: 0;
  width: 40px;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

#language p:hover {
  background: white;
  color: black;
}

#language p:last-of-type {
  border-right: none;
}

#language .active {
  background: orange;
  color: black;
}

.language-animation {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 30;
  background: black;
  background-blend-mode: color;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  opacity: 0;
  pointer-events: none;
}

section {
  margin-top: 50px;
}

#home {
  margin-top: 0;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-perspective: 1000px;
          perspective: 1000px;
}

#home .background {
  background: url("../images/background.jpg"), rgba(0, 0, 0, 0.4);
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: color;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -webkit-transform: translateZ(0px);
          transform: translateZ(0px);
}

#home #self-card {
  z-index: 500;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  height: 300px;
  width: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 10px gray;
          box-shadow: 0 0 10px gray;
  position: relative;
  background: linear-gradient(45deg, transparent, orange);
  -webkit-transition: all .7s ease-in-out;
  transition: all .7s ease-in-out;
  -webkit-transform: translateZ(300px);
          transform: translateZ(300px);
}

#home #self-card img {
  border-radius: 10px;
  position: absolute;
  width: 100%;
  height: 100%;
}

#home #self-card p {
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  border-radius: 10px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-left: none;
  padding: 5px;
  color: white;
  margin: 0;
  -webkit-box-shadow: 0 0 4px white;
          box-shadow: 0 0 4px white;
  font-size: 14px;
  -webkit-transition: all .7s ease-in-out;
  transition: all .7s ease-in-out;
}

#home #self-card p span {
  font-style: italic;
}

#home #self-card p:nth-last-of-type(2) {
  border-bottom-left-radius: 10px;
}

#home #self-card p:nth-of-type(3) {
  top: 0;
  position: absolute;
  right: 0;
  left: inherit;
  border-radius: 10px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border: 1px solid white;
  border-right: 0;
}

@-webkit-keyframes bouncing {
  from {
    -webkit-transform: translateZ(50px);
            transform: translateZ(50px);
  }
  to {
    -webkit-transform: translateZ(35px);
            transform: translateZ(35px);
  }
}

@keyframes bouncing {
  from {
    -webkit-transform: translateZ(50px);
            transform: translateZ(50px);
  }
  to {
    -webkit-transform: translateZ(35px);
            transform: translateZ(35px);
  }
}

#home #self-card .skills {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  left: 0;
  opacity: 0;
  background: url("../images/background-description.gif") rgba(0, 0, 0, 0.7);
  background-blend-mode: color;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  -webkit-transition: all .7s ease-out;
  transition: all .7s ease-out;
  -webkit-box-shadow: 0 0 10px gray;
          box-shadow: 0 0 10px gray;
  color: white;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-perspective: 1000px;
          perspective: 1000px;
}

#home #self-card .skills h2 {
  -webkit-transform: translateZ(10px);
          transform: translateZ(10px);
  z-index: 10;
  -webkit-transition: all .7s ease;
  transition: all .7s ease;
}

#home #self-card .skills h2 i {
  color: white;
  -webkit-filter: drop-shadow(1px 1px 1px orange);
          filter: drop-shadow(1px 1px 1px orange);
}

#home #self-card .skills div {
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-perspective: 1000px;
          perspective: 1000px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 90%;
}

#home #self-card .skills .skill {
  -webkit-transition: all .7 ease-in-out;
  transition: all .7 ease-in-out;
  -webkit-transform: translateZ(10px);
          transform: translateZ(10px);
  margin: 5px;
  border-radius: 50px;
  width: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 0 0 2px white;
          box-shadow: 0 0 2px white;
}

#home #self-card .skills .skill i {
  margin-left: 5px;
}

#home #self-card .skills i {
  color: orange;
}

#home #self-card .skills-description {
  -webkit-animation: hoverDescription .7s ease-out forwards;
          animation: hoverDescription .7s ease-out forwards;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  opacity: 1;
}

#home #self-card:hover {
  background-size: 100%;
}

#home .self-card-hover {
  background: "linear-gradient(45deg, transparent, $orange)";
  -webkit-transform: "translateX(-100%) translateZ(300px)";
          transform: "translateX(-100%) translateZ(300px)";
  border-top-right-radius: "0";
  border-bottom-right-radius: "0";
}

#home .self-card-hover > p {
  border: 1px inset orange !important;
  -webkit-box-shadow: 0 0 5px black;
          box-shadow: 0 0 5px black;
}

#cursor {
  width: 20px;
  height: 20px;
  position: absolute;
  background: rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  border-radius: 50%;
  border: 2px solid orange;
  pointer-events: none;
  z-index: 20;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  -webkit-box-shadow: 0 0 5px black;
          box-shadow: 0 0 5px black;
}

#cursor .point {
  content: "";
  position: absolute;
  left: calc(10px - 4px);
  top: calc(10px - 4px);
  width: 4px;
  height: 4px;
  border-radius: 50px;
  background: orange;
}

.click .point {
  border: 2px solid orange;
  -webkit-animation: clickAnimation .2s ease-in-out;
          animation: clickAnimation .2s ease-in-out;
}

@-webkit-keyframes clickAnimation {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(15);
            transform: scale(15);
    opacity: 0;
  }
}

@keyframes clickAnimation {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(15);
            transform: scale(15);
    opacity: 0;
  }
}

@font-face {
  font-family: "Cabin";
  src: url("../fonts/Cabin-Regular.ttf");
}

@font-face {
  font-family: "JosefinSans";
  src: url("../fonts/JosefinSans-Regular.ttf");
}

body, html {
  font-family: "JosefinSans";
}
/*# sourceMappingURL=index.css.map */